*{
  font-family: Montserrat;
  font-size: 1.4rem;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 1rem;
}

.score {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3rem;
    color: #32b7b3;
}

.none {
    font-size: 0;
}

button {
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}