div{
    display:inline-block;
    width: 24%;
    height:800px
}

.red{
    background-color: red;
   }

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.blue{
    background-color: blue;
}
  
   
   