body{
    margin:0;
}

.green {
   
    height: 100vh;
    width: 70%;
    background: greenyellow;
}

.red {
   width: 30%;
    height: 70vh;
    background: red;
}

.violet {
    width: 30%;
    height: 30vh;
    background: violet;
}

div{
    float: left;
}